.logo {
    font-size: 40px;
    font-weight: bold;
}

.navbar-container {
    top-margin: 40px;
    padding: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #234196;
    color: white;
}

.nav-links a {
    color: white;
    text-decoration: none;
    margin-left: 25px;
    padding: 5px 5px;
    transition: background-color 0.5s ease;
}

.nav-links a:hover {
    background-color: #2853b0;
    border-radius: 4px;
}

.main-body {
    display: flex;
    font-family: Arial, sans-serif;

}

.#main-footer{
    margin: 40px;
    padding: 20px;
}

.fm-content{
    margin: 40px;
    padding: 20px;
    display: flex;
    justify-content: flex-start
    flex-direction: row;
    align-items: space-between;
    background-color: #94928e;
}